:root{
  --title-color:rgb(255,255,255); /*0 109 139*/
  --text-color: rgb(0,0,0);
  --link-color: rgb(0,0,255);
  --div-color-light: rgb(209, 241, 255); 
  --div-color-dark: rgb(37, 160, 212);
  --subtitle-color:rgb(0, 90, 110);
  --subtitle-color-light: rgb(0, 156, 190) ;
  --button-carousel: rgb(0,0,0);
  --button-color:rgb(0,161,228);
}

.my-button {
  color: var(--subtitle-color);
  border-color: var(--subtitle-color);
}
.my-button:hover {
  background-color: var(--subtitle-color);
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container-md {width: 95%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container-md {width: 90%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container-md {width: 80%;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container-md {width: 70%;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container-md {width: 60%;}
}
